*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#wrapper{
    height:100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.gallery{
    /* width:100%; */
    /* height:100%; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.container h1{
    text-align: center;
    font-size: 3rem;
    margin:20px 0;
}
.container{
    max-width:1200px;
    /* height:100%; */
    margin:0 auto;
    padding: 20px;
}
.card{
    width:32%;
    border-radius:10px;
    overflow:hidden;
    position: relative;
    margin-bottom:20px;
}

.card img{
    width:100%;
    height:100%;
    filter:grayscale(100%);
    box-shadow: 0 0 20px #333;
    object-fit: cover;
}

.card figcaption{
    bottom:0;
    left:0;
    padding:25px;
    position: absolute;
    color: white;
    opacity:0;
}

.card:hover img{
    filter:grayscale(0%);
}

.card:hover{
    transform: scale(1.05);
    filter:drop-shadow(0 0 10px #333);
    transition: 0.5s;
}

.card:hover figcaption{
    opacity:1;
}